.badge {
    background-color: #002ffd;
    border: 1px solid #002ffd;
    border-radius: 5px;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 16px;
    padding: 2px;
}